body{
	background-color: #232323;
}

.square{
	width: 30%;
	background: pink;
	margin:1.66%;
	padding-bottom: 30%;
	float: left;

}

#container{
	max-width:600px;
	margin: 0 auto;
}

h1{
	color: white;
	text-align: center;
}
#message{
	color: white;

}